<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=keydiary;AccountKey=4EzXhB/hTKHpGPwf+LFju1s7FgQchbGakCBy2x97lKnFbKjwPkOPX7RMaOVywu+z/1RV7zMJBGJg0UpG19z46g==" />
  </appSettings>
</configuration>
